{% extends "dc-base.html" %}

{% comment %}
Add here bits like breadcrumbs and related pages, that are common to all reports.

Consider different base and private-base templates, with different sets of
breadcrumbs / related pages.
{% endcomment %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url public_index %}">reports</a>{% endblock %}
{% endcomment %}

{% block content %}
<h1>Debian Contributors Page Template</h1>
{% endblock %}
