{% extends "sources/base.html" %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

{% if object %}
<h1>Edit {{object}} contribution type</h2>
{% else %}
<h1>Create new Debian Contributors contribution type</h2>
{% endif %}

<form action="." method="POST">{% csrf_token %}
  {{ form.as_p }}
   <input type="submit" value="Go" />
</form>

{% endblock %}

