{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}


{% block navbar %}
{{block.super}}
<li><a href="{% url 'contributors_export_sources' %}">Export all sources to JSON</a></li>
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Debian Contributors data sources</h1>

<div id="intro">
This is a list of all the data sources that feed the Debian Contributors list.
</div>

<table id="sources" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        {% if not user.is_anonymous %}
        <th>Actions</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for s in sources %}
    <tr>
      <td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
      <td>{{s.desc}}</td>
      {% if not user.is_anonymous %}
      <td>
        <a href="{% url 'sources_update' name=s.name %}">Edit</a>
        <a href="{% url 'sources_delete' name=s.name %}">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
{% if not user.is_anonymous %}
<tfoot>
  <tr>
    <td colspan="2">
      <a href="{% url 'sources_add' %}">Create new data source</a>
    </td>
  </tr>
</tfoot>
{% endif %}
</table>

{% endblock %}

