{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block relatedpages %}
{% if object %}<a href="{% url 'source_view' name=object.name %}">view</a>{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

{% if object %}
<h1>Edit {{object}} data source</h2>

Example post command:
<pre>
curl https://{{ request.META.HTTP_HOST }}{% url 'contributors_post' %} \
     --data-urlencode source={{object.name}} \
     --data-urlencode auth_token="{{object.auth_token}}" \
     --data-urlencode data@filename.json
</pre>
{% else %}
<h1>Create new Debian Contributors data source</h2>
{% endif %}

<form action="." method="POST">{% csrf_token %}
  {{ form.as_p }}
   <input type="submit" value="Go" />
</form>

{% if object %}
<h2>Contribution types</h2>

<table id="ctypes" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Contributor description</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for c in object.contribution_types.all %}
    <tr>
        <td><a href="TODO">{{c.name}}</a></td>
        <td>{{c.desc}}</td>
        <td>{{c.contrib_desc}}</td>
        <td>
          <a href="{% url 'sources_ctype_update' sname=object.name name=c.name %}">Edit</a>
          <a href="{% url 'sources_ctype_delete' sname=object.name name=c.name %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="2">
      <a href="{% url 'sources_ctype_add' sname=object.name %}">Create new contribution type</a>
    </td>
  </tr>
</tfoot>
</table>


{% endif %}

{% endblock %}

