{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}
{% block content %}

<h1>Debian Contributor detail</h1>


<div id="intro">
This is a list of all contributions of <i>{{contributor.username}}</i>:
</div>

<table class="tablesorter">
<thead>
    <tr>
        <th>Contribution</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for id in contributor.identifiers.all %}
    <tr><td colspan="2">As {{id.type}} </td></tr>
    {% for c in id.contributions.all %}
    <tr>
      {% if c.url %}
        <td><a href="{{c.url}}">{{c.type.desc}}</a></td>
      {% else %}
        <td>{{c.type.desc}}</td>
      {% endif %}
        <td>{{c.begin}}</td>
        <td>{{c.until}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</tbody>
</table>

{% endblock %}
