{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var perstable = $("table.tablesorter");

    perstable.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block relatedpages %}
<a href="{% url 'contributors_flat' %}">flat version</a>
{{block.super}}
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Debian Contributors list</h1>

<div id="intro">
This is a list of all the {{people.count}} people who contribute to Debian.
</div>

{% for year, ypeople in people %}
<h2>Contributors until {{year}}</h2>

<p>
{{ypeople|length}} people contributed to Debian until {{year}}:
</p>

<table id="contributors" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for p in ypeople %}
    <tr>
        <td><a href={% url 'contributor_detail' name=p %}>{{p}}</a></td>
        <td val="{{p.until|date:"m"}}">{{p.until|date:"F"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endfor %}

{% endblock %}
